@import 'mixins';
  
button[id$="increment"], button[id$="decrement"]
{
    @include button-reset;
}

p[id$="length"]
{
  padding: 5px;
  display: inline-block;
}

.setter-controls {
 display: flex;
}
